In [60]:
import os
from os.path import join as opj
import pandas as pd

source_path = r'J:\面试\GatherAlgorithms\competition\eleme'

def changetxt2csv(data_path):
    for root, dirs, files in os.walk(data_path, topdown=False):
        for name in files:
            if name[-3:] == 'txt':
                os.rename(opj(root, name), opj(root, name[:-3]+'csv'))

def datapathes():
    source = opj(source_path, 'data')
    base = {'train':opj(source, 'r1_train'), 
            'testA':opj(source, 'r1_test_A'), 
            'submit':opj(source, 'r1_submit')}
    pathes = {}
    for each in ['train','testA']:
        name_dict = {}
        for name in os.listdir(base['train']):
            name_dict[name] = opj(base[each], name)
        pathes[each] = name_dict
    pathes['submit'] = base['submit']
    return pathes
    

dps = datapathes()
pathes = {}
for stage in ['train', 'testA']:
    charts = {}
    for chart in ['action', 'courier', 'distance', 'order']:
        charts[chart] = [opj(dps[stage][chart], x) for x in os.listdir(dps[stage][chart])]
    pathes[stage] = charts
train, test = pathes['train'], pathes['testA']
submit = [opj(dps['submit'],x) for x in os.listdir(dps['submit'])]

In [167]:
import sklearn
import numpy as np

* ACTION   
courier_id                      骑士id  
wave_index                      波次index  
tracking_id                     订单id  
courier_wave_start_lng          波次起始时刻骑士位置  
courier_wave_start_lat          波次起始时刻骑士位置  
action_type                     行为类型  
expect_time                     行为对应时刻

In [136]:



df = pd.read_csv(train['action'][0], parse_dates=['expect_time'],date_parser=lambda col: pd.to_datetime(col, unit='s'))

df['action_type'].value_counts()
df.head(20)
# pd.to_datetime(df.expect_time)
df = df.sort_values(by=['courier_id','wave_index','tracking_id','expect_time'])
df

,courier_id,wave_index,tracking_id,courier_wave_start_lng,courier_wave_start_lat,action_type,expect_time
120,10007871,0,2100074548854622111,121.630997,39.142343,PICKUP,2020-02-01 03:29:39
121,10007871,0,2100074548854622111,121.630997,39.142343,DELIVERY,2020-02-01 03:34:37
122,10007871,0,2100074550065333539,121.630997,39.142343,PICKUP,2020-02-01 03:43:42
123,10007871,0,2100074550065333539,121.630997,39.142343,DELIVERY,2020-02-01 03:49:23
124,10007871,0,2100074550779577850,121.630997,39.142343,PICKUP,2020-02-01 03:52:09
...,...,...,...,...,...,...,...
14213,125964650,5,2100074581619934272,121.566401,39.149527,DELIVERY,2020-02-01 13:08:14
14218,125996858,0,2100074542784775503,121.446220,39.211033,PICKUP,2020-02-01 01:16:38
14220,125996858,0,2100074542784775503,121.446220,39.211033,DELIVERY,2020-02-01 01:24:42
14219,125996858,0,2100074544064595093,121.446220,39.211033,PICKUP,2020-02-01 01:18:22
14221,125996858,0,2100074544064595093,121.446220,39.211033,DELIVERY,2020-02-01 01:27:37

In [70]:
sm = pd.read_csv(submit[3])
sm

,courier_id,wave_index,tracking_id,courier_wave_start_lng,courier_wave_start_lat,action_type,expect_time
0,100021234,0,2100076291189931234,121.373512,39.135812,PICKUP,1583295123

In [207]:

dis = pd.read_csv(train['distance'][0])
dis.replace('ASSIGN',0, inplace=True)
dis.replace('PICKUP',1, inplace=True)
dis.replace('DELIVERY',2, inplace=True)
dis.sort_values(by=['courier_id','tracking_id','target_tracking_id','source_type'], inplace=True)
# dis.groupby(['courier_id','tracking_id']).count().head(20)
dis.head(40).reset_index(drop=True)

,courier_id,wave_index,tracking_id,source_type,source_lng,source_lat,target_tracking_id,target_type,target_lng,target_lat,grid_distance
0,10007871,0,2100074548854622111,0,121.630997,39.142343,2100074548854622111,2,121.626144,39.140281,654.0
1,10007871,0,2100074548854622111,0,121.630997,39.142343,2100074548854622111,1,121.632547,39.141946,377.0
2,10007871,0,2100074548854622111,1,121.632547,39.141946,2100074548854622111,0,121.630997,39.142343,376.0
3,10007871,0,2100074548854622111,1,121.632547,39.141946,2100074548854622111,2,121.626144,39.140281,780.0
4,10007871,0,2100074548854622111,2,121.626144,39.140281,2100074548854622111,0,121.630997,39.142343,682.0
5,10007871,0,2100074548854622111,2,121.626144,39.140281,2100074548854622111,1,121.632547,39.141946,769.0
6,10007871,0,2100074548854622111,0,121.630997,39.142343,2100074550065333539,2,121.632084,39.146201,618.0
7,10007871,0,2100074548854622111,0,121.630997,39.142343,2100074550065333539,0,121.631237,39.142261,24.0
8,10007871,0,2100074548854622111,0,121.630997,39.142343,2100074550065333539,1,121.631219,39.141811,123.0
9,10007871,0,2100074548854622111,1,121.632547,39.141946,2100074550065333539,1,121.631219,39.141811,288.0
10,10007871,0,2100074548854622111,1,121.632547,39.141946,2100074550065333539,2,121.632084,39.146201,773.0
11,10007871,0,2100074548854622111,1,121.632547,39.141946,2100074550065333539,0,121.631237,39.142261,376.0
12,10007871,0,2100074548854622111,2,121.626144,39.140281,2100074550065333539,0,121.631237,39.142261,682.0
13,10007871,0,2100074548854622111,2,121.626144,39.140281,2100074550065333539,2,121.632084,39.146201,1183.0
14,10007871,0,2100074548854622111,2,121.626144,39.140281,2100074550065333539,1,121.631219,39.141811,550.0
15,10007871,0,2100074548854622111,0,121.630997,39.142343,2100074550779577850,2,121.635154,39.143561,789.0
16,10007871,0,2100074548854622111,0,121.630997,39.142343,2100074550779577850,0,121.631232,39.142325,19.0
17,10007871,0,2100074548854622111,0,121.630997,39.142343,2100074550779577850,1,121.631574,39.142231,105.0
18,10007871,0,2100074548854622111,1,121.632547,39.141946,2100074550779577850,1,121.631574,39.142231,115.0
19,10007871,0,2100074548854622111,1,121.632547,39.141946,2100074550779577850,0,121.631232,39.142325,139.0
20,10007871,0,2100074548854622111,1,121.632547,39.141946,2100074550779577850,2,121.635154,39.143561,822.0
21,10007871,0,2100074548854622111,2,121.626144,39.140281,2100074550779577850,2,121.635154,39.143561,1301.0
22,10007871,0,2100074548854622111,2,121.626144,39.140281,2100074550779577850,1,121.631574,39.142231,745.0
23,10007871,0,2100074548854622111,2,121.626144,39.140281,2100074550779577850,0,121.631232,39.142325,682.0
24,10007871,0,2100074550065333539,0,121.631237,39.142261,2100074548854622111,0,121.630997,39.142343,1.0
25,10007871,0,2100074550065333539,0,121.631237,39.142261,2100074548854622111,1,121.632547,39.141946,165.0
26,10007871,0,2100074550065333539,0,121.631237,39.142261,2100074548854622111,2,121.626144,39.140281,658.0
27,10007871,0,2100074550065333539,1,121.631219,39.141811,2100074548854622111,0,121.630997,39.142343,116.0
28,10007871,0,2100074550065333539,1,121.631219,39.141811,2100074548854622111,1,121.632547,39.141946,289.0
29,10007871,0,2100074550065333539,1,121.631219,39.141811,2100074548854622111,2,121.626144,39.140281,568.0
30,10007871,0,2100074550065333539,2,121.632084,39.146201,2100074548854622111,0,121.630997,39.142343,1007.0
31,10007871,0,2100074550065333539,2,121.632084,39.146201,2100074548854622111,1,121.632547,39.141946,787.0
32,10007871,0,2100074550065333539,2,121.632084,39.146201,2100074548854622111,2,121.626144,39.140281,1209.0
33,10007871,0,2100074550065333539,0,121.631237,39.142261,2100074550065333539,2,121.632084,39.146201,638.0
34,10007871,0,2100074550065333539,0,121.631237,39.142261,2100074550065333539,1,121.631219,39.141811,118.0
35,10007871,0,2100074550065333539,1,121.631219,39.141811,2100074550065333539,0,121.631237,39.142261,116.0
36,10007871,0,2100074550065333539,1,121.631219,39.141811,2100074550065333539,2,121.632084,39.146201,707.0
37,10007871,0,2100074550065333539,2,121.632084,39.146201,2100074550065333539,0,121.631237,39.142261,1007.0
38,10007871,0,2100074550065333539,2,121.632084,39.146201,2100074550065333539,1,121.631219,39.141811,859.0
39,10007871,0,2100074550065333539,0,121.631237,39.142261,2100074550779577850,1,121.631574,39.142231,115.0

In [111]:
cour = pd.read_csv(train['courier'][0])
cour.sort_values(by=['courier_id'])

     courier_id  level     speed  max_load
280    10007871      3  4.751832        11
372    10012191      3  4.715761        10
395    10012508      3  4.414884         9
601    10037225      1  4.390019         7
319    10038649      3  4.792835        10
..          ...    ...       ...       ...
400   125552498      3  4.423862         9
488   125779698      3  4.588378        12
200   125864962      2  4.572076         8
568   125964650      3  4.435920        13
257   125996858      3  4.442554        11

[665 rows x 4 columns]

In [144]:

order_times = ['create_time','confirm_time','assigned_time','promise_deliver_time','estimate_pick_time']
order = pd.read_csv(train['order'][0], parse_dates=order_times,date_parser=lambda col: pd.to_datetime(col, unit='s'))
order.sort_values(by=['courier_id','wave_index','tracking_id'], inplace=True)
order['shop_id'].value_counts()

406a47750b2960d4666f4dc63f704d9f    90
8944ec8db309614c49fc787d3ba12f44    50
99a98a05589466aeafd178494ba439cc    48
89436019672a6cf266544739e1d29c23    39
ca2a062e0790356c72caa2eb909eeb2e    33
                                    ..
97ea80339c480ce5020cc30001c67d86     1
489e3e65fd8536ac8baed176042d34cc     1
23b66c353d17f11f36ba33a8e52d7fa7     1
bd8a52757b6a4524de5d8ff9aba882bd     1
93182e1cb1a220c17a49060e19701931     1
Name: shop_id, Length: 2763, dtype: int64

In [177]:
t_action = pd.read_csv(test['action'][0], parse_dates=['expect_time'],date_parser=lambda col: pd.to_datetime(col, unit='s'))
t_action.groupby(['courier_id','wave_index']).count()
t_action.expect_time.replace(pd.to_datetime(0, unit='s'), np.nan, inplace=True)
t_action.sort_values(by=['courier_id','expect_time'], inplace=True)
t_action.head(8)

,courier_id,wave_index,tracking_id,courier_wave_start_lng,courier_wave_start_lat,action_type,expect_time
6738,10007871,0,2100076035105981521,121.631349,39.136891,PICKUP,2020-03-01 03:56:51
6739,10007871,0,2100076035557131664,121.631349,39.136891,PICKUP,2020-03-01 03:56:54
6740,10007871,0,2100076038245615330,121.631349,39.136891,DELIVERY,NaT
6741,10007871,0,2100076035557131664,121.631349,39.136891,DELIVERY,NaT
6742,10007871,0,2100076035105981521,121.631349,39.136891,DELIVERY,NaT
6743,10007871,0,2100076038245615330,121.631349,39.136891,PICKUP,NaT
5836,10012191,0,2100076022970385869,121.536085,39.179454,PICKUP,2020-03-01 02:06:58
5837,10012191,0,2100076023256057293,121.536085,39.179454,PICKUP,2020-03-01 02:07:00

In [181]:
t_dis = pd.read_csv(test['distance'][0])
t_dis.sort_values(by=['courier_id','tracking_id'], inplace=True)
t_dis.head(20)

,courier_id,wave_index,tracking_id,source_type,source_lng,source_lat,target_tracking_id,target_type,target_lng,target_lat,grid_distance
450,10007871,0,2100076035105981521,ASSIGN,121.631349,39.136891,2100076035105981521,PICKUP,121.631515,39.141732,746.0
451,10007871,0,2100076035105981521,ASSIGN,121.631349,39.136891,2100076035557131664,ASSIGN,121.631349,39.142531,864.0
452,10007871,0,2100076035105981521,ASSIGN,121.631349,39.136891,2100076038245615330,ASSIGN,121.630949,39.142470,864.0
453,10007871,0,2100076035105981521,ASSIGN,121.631349,39.136891,2100076035557131664,PICKUP,121.631774,39.142171,901.0
454,10007871,0,2100076035105981521,ASSIGN,121.631349,39.136891,2100076038245615330,DELIVERY,121.628954,39.128061,1920.0
455,10007871,0,2100076035105981521,ASSIGN,121.631349,39.136891,2100076038245615330,PICKUP,121.634274,39.142031,973.0
456,10007871,0,2100076035105981521,ASSIGN,121.631349,39.136891,2100076035105981521,DELIVERY,121.633264,39.131321,1038.0
457,10007871,0,2100076035105981521,ASSIGN,121.631349,39.136891,2100076035557131664,DELIVERY,121.633894,39.131671,898.0
474,10007871,0,2100076035105981521,PICKUP,121.631515,39.141732,2100076038245615330,DELIVERY,121.628954,39.128061,2413.0
475,10007871,0,2100076035105981521,PICKUP,121.631515,39.141732,2100076035557131664,DELIVERY,121.633894,39.131671,1513.0
476,10007871,0,2100076035105981521,PICKUP,121.631515,39.141732,2100076035105981521,DELIVERY,121.633264,39.131321,1611.0
477,10007871,0,2100076035105981521,PICKUP,121.631515,39.141732,2100076038245615330,PICKUP,121.634274,39.142031,461.0
478,10007871,0,2100076035105981521,PICKUP,121.631515,39.141732,2100076035105981521,ASSIGN,121.631349,39.136891,592.0
479,10007871,0,2100076035105981521,PICKUP,121.631515,39.141732,2100076035557131664,PICKUP,121.631774,39.142171,187.0
480,10007871,0,2100076035105981521,PICKUP,121.631515,39.141732,2100076035557131664,ASSIGN,121.631349,39.142531,211.0
481,10007871,0,2100076035105981521,PICKUP,121.631515,39.141732,2100076038245615330,ASSIGN,121.630949,39.142470,186.0
506,10007871,0,2100076035105981521,DELIVERY,121.633264,39.131321,2100076035557131664,DELIVERY,121.633894,39.131671,123.0
507,10007871,0,2100076035105981521,DELIVERY,121.633264,39.131321,2100076038245615330,DELIVERY,121.628954,39.128061,2289.0
508,10007871,0,2100076035105981521,DELIVERY,121.633264,39.131321,2100076035105981521,ASSIGN,121.631349,39.136891,1314.0
509,10007871,0,2100076035105981521,DELIVERY,121.633264,39.131321,2100076038245615330,PICKUP,121.634274,39.142031,1458.0

In [189]:
order_times = ['create_time','confirm_time','assigned_time','promise_deliver_time','estimate_pick_time']
t_order = pd.read_csv(test['order'][0], parse_dates=order_times,date_parser=lambda col: pd.to_datetime(col, unit='s'))
t_order.sort_values(by=['courier_id', 'wave_index'], inplace=True)
t_order.head(20)

,courier_id,wave_index,tracking_id,weather_grade,pick_lng,pick_lat,deliver_lng,deliver_lat,create_time,confirm_time,assigned_time,promise_deliver_time,estimate_pick_time,aoi_id,shop_id
12,10007871,0,2100076035105981521,正常天气,121.631515,39.141732,121.633264,39.131321,2020-03-01 03:28:26,2020-03-01 03:28:34,2020-03-01 03:29:17,2020-03-01 04:20:26,2020-03-01 03:57:34,6cd67d9b6f0150c77bda2eda01ae484c,10f44d4e18485e79c5bda0361819411b
13,10007871,0,2100076038245615330,正常天气,121.634274,39.142031,121.628954,39.128061,2020-03-01 03:35:30,2020-03-01 03:35:31,2020-03-01 03:36:16,2020-03-01 04:23:30,2020-03-01 03:53:31,62653b44f060ce1b250dbb307d06ac24,90923c3d0e89ce972717115070bf1061
14,10007871,0,2100076035557131664,正常天气,121.631774,39.142171,121.633894,39.131671,2020-03-01 03:37:24,2020-03-01 03:37:27,2020-03-01 03:38:16,2020-03-01 04:33:24,2020-03-01 03:59:27,6cd67d9b6f0150c77bda2eda01ae484c,a1ae0cb48257288cdd4a6693e7888737
18,10012191,0,2100076023256057293,正常天气,121.537556,39.192019,121.546574,39.195181,2020-03-01 01:04:09,2020-03-01 01:13:47,2020-03-01 01:13:49,2020-03-01 03:34:09,2020-03-01 01:34:09,12f33e73aef1450b5d1e6ddeb325b7f4,214ab2fefcf6727b55cc55874d4f746a
19,10012191,0,2100076022970385869,正常天气,121.537556,39.192019,121.546324,39.197011,2020-03-01 01:12:29,2020-03-01 01:21:49,2020-03-01 01:22:49,2020-03-01 03:42:29,2020-03-01 01:39:29,7a0e6d3ee06fda57ab3bb590237a71b2,214ab2fefcf6727b55cc55874d4f746a
20,10012191,0,2100076022767715918,正常天气,121.538302,39.188448,121.545624,39.195241,2020-03-01 01:42:42,2020-03-01 01:42:46,2020-03-01 01:42:50,2020-03-01 02:30:42,2020-03-01 02:04:46,820c696b14ffe158ec5715ac659f17ed,fd5cd7448dd75dcde9b0a1e355febc6c
21,10012191,0,2100076023461152334,正常天气,121.538302,39.188448,121.545644,39.196091,2020-03-01 01:59:43,2020-03-01 01:59:49,2020-03-01 02:00:50,2020-03-01 02:46:43,2020-03-01 02:23:49,820c696b14ffe158ec5715ac659f17ed,fd5cd7448dd75dcde9b0a1e355febc6c
67,10021791,4,2100076079343798218,正常天气,121.448597,39.214318,121.448324,39.208881,2020-03-01 10:06:47,2020-03-01 10:06:48,2020-03-01 10:06:54,2020-03-01 10:36:47,2020-03-01 10:15:48,56cf559563abe53624ad727ad75d3aa8,2596d396a3fc447b069c147890a479b4
68,10021791,4,2100076080430974466,正常天气,121.452364,39.209781,121.469224,39.230131,2020-03-01 10:22:13,2020-03-01 10:22:16,2020-03-01 10:22:54,2020-03-01 11:15:13,2020-03-01 10:43:16,61d6d0eeff6a44cf7dbe913950671cc1,52f80997420bed651509050d873bbc88
69,10021791,4,2100076080471213445,正常天气,121.446917,39.210012,121.458804,39.217541,2020-03-01 10:24:33,2020-03-01 10:24:36,2020-03-01 10:24:54,2020-03-01 10:58:33,2020-03-01 10:34:36,c2ae7439b269b18b25fc2c7b4c5e0734,481393d0db6ec38a9114882bfb944eb5
70,10021791,4,2100076081653941565,正常天气,121.447182,39.206127,121.464924,39.224301,2020-03-01 10:26:21,2020-03-01 10:26:22,2020-03-01 10:26:54,2020-03-01 11:10:21,2020-03-01 10:38:22,b66c1194fcd9807bdd49d61c719c9062,dd6c4d242983aa7e4582d63ff9da4ccc
71,10038649,2,2100076043330160137,正常天气,121.374898,39.303465,121.383084,39.296181,2020-03-01 04:17:33,2020-03-01 04:17:40,2020-03-01 04:18:13,2020-03-01 04:47:33,2020-03-01 04:27:40,a5f8386e1e38563855a6f5de977c988a,abcb290b5b6e83ccf5384ceced8f77e6
72,10038649,2,2100076042464200420,正常天气,121.381077,39.297145,121.383504,39.297181,2020-03-01 04:18:58,2020-03-01 04:18:59,2020-03-01 04:19:13,2020-03-01 05:26:58,2020-03-01 04:42:59,a5f8386e1e38563855a6f5de977c988a,0c70db6e1cc3c5c79cfd223e3ce20b1f
73,10038649,2,2100076045821740553,正常天气,121.374898,39.303465,121.368754,39.302991,2020-03-01 04:34:48,2020-03-01 04:34:52,2020-03-01 04:36:13,2020-03-01 05:04:48,2020-03-01 04:45:52,89fa115ef520ce47389d22d1ef2dbd2e,abcb290b5b6e83ccf5384ceced8f77e6
74,10038649,2,2100076046620395017,正常天气,121.374898,39.303465,121.348264,39.303921,2020-03-01 04:46:54,2020-03-01 04:46:59,2020-03-01 04:47:13,2020-03-01 05:22:54,2020-03-01 04:57:59,6509cbf63fac3a0f6a0aa5bd221c7ec8,abcb290b5b6e83ccf5384ceced8f77e6
75,10038649,2,2100076046992737831,正常天气,121.374946,39.303615,121.344504,39.301581,2020-03-01 04:48:36,2020-03-01 04:48:36,2020-03-01 04:49:13,2020-03-01 05:34:36,2020-03-01 04:58:36,2344ed77c081a0390d84520bcd0e5683,f349b4a0bd8fbef8e5a015a3e7b4ce19
76,10038649,4,2100076072818378743,正常天气,121.362149,39.291649,121.369704,39.284621,2020-03-01 09:21:17,2020-03-01 09:21:18,2020-03-01 09:22:13,2020-03-01 09:58:17,2020-03-01 09:39:18,5772ab3fcd9069a45e3fd5c96cf95a3b,3657bc0c499d3328bf0253bd46d1b29f
77,10038649,4,2100076073855158263,正常天气,121.362149,39.291649,121.348754,39.283771,2020-03-01 09:31:15,2020-03-01 09:31:17,2020-03-01 09:33:13,2020-03-01 10:08:15,2020-03-01 09:46:17,7fc50de5926f63efb6cbcddac88cb874,3657bc0c499d3328bf0253bd46d1b29f
78,10038649,4,2100076075175315447,正常天气,121.362149,39.291649,121.346844,39.283761,2020-03-01 09:41:37,2020-03-01 09:41:38,2020-03-01 09:42:13,2020-03-01 10:18:37,2020-03-01 09:56:38,7fc50de5926f63efb6cbcddac88cb874,3657bc0c499d3328bf0253bd46d1b29f
79,10038653,0,2100076028422751771,正常天气,121.363066,39.292330,121.360194,39.279621,2020-03-01 02:30:19,2020-03-01 02:30:20,2020-03-01 02:31:13,2020-03-01 03:02:19,2020-03-01 02:45:20,dac3ee45c631cd91cc159f8b6163ffd4,7016d4896b14d98f84ab75c688e6587c